.header-nav__item {
    border: 1px solid rgb(104, 68, 39);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(241, 236, 230);
}
.header-nav__link--logout {
    color: rgb(104, 68, 39);
    text-decoration: none;
    border: none;
    background-color: rgb(241, 236, 230);
}
.admin-page {
    justify-content: center;
    min-height: 800px;
    margin: 20px;
}
.admin-page__title {
    padding: 10px;
}
.form__title {
    color: rgb(104, 68, 39);
    font-weight: bold;
    text-align: center;
    font-family: Georgia;
}
.search-form__group {
    width: 100%;
    margin: 20px auto;
    gap: 20px;
}
.search-form {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.search-form__inner {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.search-form__input{
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgb(104, 68, 39);
    border-radius: 5px;
    height: 40px;
    width:60%;
}

.search-form__select {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgb(104, 68, 39);
    border-radius: 5px;
    height: 40px;
    width:fit-content;
}
.search-form__button{
    display: flex;
    gap: 10px;
    align-items: center;
}
.search__button--submit {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 150px;
    height: 40px;
    color: white;
    text-decoration: none;
    border: none;
    background-color: rgb(104, 68, 39);
    border-radius: 5px;
    justify-content: center;
}
.reset__button {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 150px;
    height: 40px;
    color: rgb(104, 68, 39);
    text-decoration: none;
    border: 1px solid rgb(104, 68, 39);
    background-color: rgb(241, 236, 230);
    border-radius: 5px;
    justify-content: center;
}
.optional__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.csv-button__link {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    color: rgb(104, 68, 39);;
    text-decoration: none;
    border: none;
    background-color:rgb(241, 236, 230);
    border-radius: 5px;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.previous,
.other,
.last {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(241, 236, 230);
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
}
.current {
    background-color: rgb(104, 68, 39);
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pagination-link {
    text-decoration: none;
    color: rgb(104, 68, 39);
    text-decoration: none;
    border: none;
}
.admin-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: left;
}
.admin-table {
    width: 90%;
    margin-top: 20px;
}
.admin-table__inner,
.admin-table__row{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 2fr 1fr;
    grid-template-rows: 40px;
    border: 1px solid rgb(241, 236, 230);
    padding: 10px 0;
    align-items: center;
}
.admin-table__inner{
    font-weight: bold;
    background-color: rgb(104, 68, 39);
    color: white;
}
.admin-table__row{
    color: rgb(104, 68, 39);
}
.admin-table__row:hover{
    background-color: rgb(241, 236, 230);
    color: rgb(104, 68, 39);
}
.detail-button{
    width:100px;
    height:30px;
    color: rgb(104, 68, 39);
    border:1px solid rgb(104, 68, 39);
    background-color: rgb(241, 236, 230);
    border-radius:5px;
    cursor: pointer;
}
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal__content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(241, 236, 230);
    border: 1px solid rgb(104, 68, 39);
    font-size: 20px;
    cursor: pointer;
    height:30px;
    width:30px;
    border-radius:20px
}
.modal__inner{
    padding:20px;
    margin:50px;
}
.modal-table__row{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 40px;
    border-bottom: 1px solid rgb(241, 236, 230);
    padding: 10px 0;
    align-items: center;
}
.delete-button{
    width:100px;
    height:30px;
    color: white;
    background-color: rgb(204, 0, 0);
    border:none;
    border-radius:5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px auto 50px;
}