.header{
    min-height: 64px;
    padding:10px 10px 20px ;
    border-bottom: 1px solid rgb(104, 68, 39);
}
.header__inner {
    display: flex;
    align-items: center;
    min-height: 64px;
    justify-content: center;
    position:relative;
}
.header__title {
    color: rgb(104, 68, 39);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    align-items: center;
    font-family:Georgia;
    margin:0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex:1;
}
.header-nav{
    margin-left: auto;
    padding: 0 20px;
}