.header-nav__item {
    border: 1px solid rgb(104, 68, 39);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(241, 236, 230);
}
.header-nav__link--login {
    color: rgb(104, 68, 39);
    text-decoration: none;
}
.register-form {
    justify-content: center;
    background-color: rgb(241, 236, 230);
    min-height: 800px;
}
.register-form__title {
    padding: 10px;
}
.register-form__title {
    color: rgb(104, 68, 39);
    font-weight: bold;
    text-align: center;
    font-family: Georgia;
}
.register-form__content {
    background-color: white;
    border: 1px solid rgb(104, 68, 39);
    padding: 20px;
    max-width: 880px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.register-form__inner {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
}
.register-form__group {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}
.register-form__label {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.register-form__item {
    width: 30%;
    display: flex;
    font-size: 18px;
    margin: 0;
    padding-left: 20px;
    color: rgb(104, 68, 39);
}
.register-form__name--input,
.register-form__email--input,
.register-form__password--input {
    height: 40px;
    border: 1px solid rgb(104, 68, 39);
    color: rgb(104, 68, 39);
    font-size: 18px;
    width: 80%;
    padding: 5px 10px;
    background-color: rgb(241, 236, 230);
    margin: 10px 0;
}
.register-form__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.register-form__button--submit {
    width: 150px;
    height: 40px;
    background-color: rgb(104, 68, 39);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.error {
    margin: 0px auto;
    width: 80%;
}
.error-messages {
    color: red;
    font-size: 14px;
}