.thanks-page{
    position: relative;
    padding: 50px;
    background-color: #fff;
    margin-top:100px;
}
.background-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    font-family: Georgia;
}
.thanks-message{
    text-align: center;
    color: rgb(58, 0, 0);
}
.thanks-page__button{
    justify-content: center;
    display: flex;
}

.thanks-page__button--submit{
    width:20%;
    text-align: center;
    height: 30px;
    background-color:rgb(58, 0, 0) ;
    color: #fff;
    margin-top: 30px;
    font-family: Georgia;

}